<div class="container">
  <h2>Microfrontend host</h2>
  <p>Welcome to the Angular 16 Microfrontend demo using Module Federation</p>
  <p>This component is part of the host application, the components are linked from the links above at
    the top is a Microfrontend that is remotely loaded into the application. Check the network settings to see the
    remote being loaded.</p>
    <br />
  <!-- <span #sharedComponentFromCreance>Shared component from creance: </span> -->
<!--  <federated-component remoteEntry="http://localhost:4202/remoteEntry.js" remoteName="creanceConfig" exposedModule="SharedComponentFromCreance" componentName="SharedComponentFromCreance"></federated-component>-->

{{val}}
<!--  <lib-federated-->
<!--    remoteEntry="http://localhost:4202/remoteEntry.js"-->
<!--    exposedModule="SharedComponentFromCreance"-->
<!--    componentName="SharedComponent"-->
<!--    [params]="[{input: 'testInput', value: 'encore mieux'}]"-->
<!--    [outputEvents]="['testOutput', 'coucouEmit']"-->
<!--    (output)="manageFederatedOutput($event)"-->
<!--    ></lib-federated>-->
  <!-- <test-component></test-component> -->

  <div>
    <input [(ngModel)]="sharedData">
    <button (click)="saveSharedData()">Save data</button>
  </div>
</div>
<h1>{{'HELLO' | translate}}</h1>
