#side-menu {
  position: fixed;
  left: 0;
  top: 0;
  background-color: #32607d;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1000;

  &.closed {
    width: 50px;
  }
  &.opened {
    width: fit-content;
    max-width: 320px;
    min-width: 210px;
  }
  div:first-child {
    font-size: 2.0rem;
  }
  nav {
    display: flex;
    flex-direction: column;
  }
}

.disable-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  filter: grayscale(100%);
  pointer-events: none;
}
.logo-container {
  cursor: pointer;
}

.close-icon-container {
  display: flex;
  justify-content: end;
  color: white;
  padding: 8px;
  span.icon {
    cursor: pointer;
    font-size: 1.2rem;
  }
}
