<ng-container>
  <div id="side-menu"
       #menuRef
       [class]="isOpenMenu() ? 'opened' : 'closed'">
    <span>
      <div *ngIf="isOpenMenu()"
           class="close-icon-container">
        <i class="fa-regular fa-circle-xmark"
           (click)="closeMenu()"></i>
      </div>
      <div class="logo-container"
           (click)="goToHome()">
      </div>
      <nav id="main-menu">
        <ng-container *ngFor="let item of menuItems">
          <por-transversal-menu-item [menuItem]="item"
                                     [isMenuOpen]="isOpenMenu()"
                                     [isSelected]="openedItem === item"
                                     (closeMenu)="closeMenu()"
                                     (openTransversalMenu)="openMenuOnElement($event)"></por-transversal-menu-item>

        </ng-container>
      </nav>
    </span>
    <span>
      <nav id="footer-menu" *ngIf="footerMenuItems">
        <ng-container *ngFor="let item of footerMenuItems">
          <por-transversal-menu-item [menuItem]="item"
                                     [isMenuOpen]="isOpenMenu()"
                                     [isSelected]="openedItem === item"
                                     (closeMenu)="closeMenu()"
                                     (openTransversalMenu)="openMenuOnElement($event)"></por-transversal-menu-item>
        </ng-container>
      </nav>
    </span>
  </div>
</ng-container>
