div {
  color: white;
}
span {
  font-size: 2.0rem;
}
.header-item {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  padding-right: 5px;
  .icon {
    padding-left: 5px;
    padding-right: 10px;
  }
  &:hover {
    cursor: pointer;
  }
  &.selected {
    border-left: 3px white solid;
  }
}

.sub-list {
  display: flex;
  flex-direction: column;
  background-color: #0b3d60;
  .sub-element {
    font-size: 1.2rem;
    padding-left: 20px;
    cursor: pointer;
    &:hover {
      background-color: #299be5;
    }
  }
}

span:hover {
  cursor: pointer;
}

.complete-item {
  padding-top:4px;
  padding-bottom: 4px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.reduced-item {
  padding: 10px;
  &:hover {
    background-color: #299be5;
  }
}

.selected {
  color: red;
}
