<ng-container *ngIf="!isMenuOpen else openedItem">
  <div [pTooltip]="menuItem.tooltip"
       [id]="menuItem.id"
       matTooltipPosition="right"
       [class]="isSelectedClass() + ' reduced-item'"
       (click)="onOpenMenu();$event.stopPropagation();">
    <i [class]="menuItem.icon"></i>
  </div>
</ng-container>
<ng-template #openedItem>
  <div class="complete-item">
    <span (click)="onOpenMenu()" [class]="isSelectedClass() + ' header-item'"><span
      [class]="'icon ' + menuItem.icon"></span>{{menuItem.label}}</span>
    <ng-container *ngIf="menuItem.items?.length > 0 && isSelected">
      <div class="sub-list">
        <ng-container *ngFor="let subItem of menuItem.items">
          <span class="sub-element"
                (click)="navigate(subItem)"
                [id]="subItem.id">{{subItem.label}}</span>
        </ng-container>
      </div>
    </ng-container>
  </div>
</ng-template>
