<div [class]="getOpenMenuClass()">
  <router-outlet></router-outlet>
</div>
<por-transversal-menu #mainMenu [menuItems]="menuItems"></por-transversal-menu>
<por-transversal-sub-menu #subMenu></por-transversal-sub-menu>
