<ng-container *ngIf="isDisplayed">
  <ul>
    <li *ngFor="let item of subMenuItems">
      <a [class]="getSelectedClass(item)"
         [routerLink]="buildRoute(item)">{{buildRoute(item)}}</a>
    </li>
  </ul>
</ng-container>
